@font-face {
  font-family: 'Anton';
  font-weight: 400;
  src: url('../assets/fonts/Anton.ttf');
}

@import '~bootstrap/scss/bootstrap';
@import 'theme-style';
@import 'elementor/elementor';

p {
  margin: 0;
}

a {
  text-transform: capitalize !important;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: none;
  color: #fff;
}

button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 10px 0;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #f60b0e, #fe898a);
  text-transform: uppercase;
  font-weight: 700;
}

.content-list {
  opacity: 0;
  transition: opacity 300ms ease;

  &--show {
    opacity: 1;
  }
}

.sticky {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.nav-item.nav-link.active {
  background-color: #f6090f;
}

.features-list__title {
  margin-right: 10px;
}

.feature-list__genre {
  margin-left: 10px;
}
