//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: $headings-margin-bottom;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

.lead {
	font-size: $lead-font-size;
	font-weight: $lead-font-weight;
}

// Type display classes
.display-1 {
	font-size: $display1-size;
	font-weight: $display1-weight;
	line-height: $display-line-height;
}
.display-2 {
	font-size: $display2-size;
	font-weight: $display2-weight;
	line-height: $display-line-height;
}
.display-3 {
	font-size: $display3-size;
	font-weight: $display3-weight;
	line-height: $display-line-height;
}
.display-4 {
	font-size: $display4-size;
	font-weight: $display4-weight;
	line-height: $display-line-height;
}


//
// Horizontal rules
//

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: $hr-border-width solid $hr-border-color;
}
	.hr--lg {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.hr--xl {
		margin-top: 4.5rem;
		margin-bottom: 4.5rem;
	}


//
// Emphasis
//

small,
.small {
	font-size: $small-font-size;
	font-weight: $font-weight-normal;
}

mark,
.mark {
	padding: $mark-padding;
	background-color: $mark-bg;
}


//
// Lists
//

.list-unstyled {
	@include list-unstyled;
	padding-#{$left}: 0;
	padding-#{$right}: 0;
}

// Inline turns list items into inline-block
.list-inline {
	@include list-unstyled;
}
.list-inline-item {
	display: inline-block;

	&:not(:last-child) {
		margin-#{$right}: $list-inline-padding;
	}
}

/* Lists */
ol.list,
.post__excerpt ol,
.comment__body ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 1.5em;
	counter-reset: counter;

	ol {
		margin-top: 1em;
		margin-bottom: 0;
	}

	li {
		position: relative;
		padding: side-values(0 0 .5em 30px);

		&::before {
			display: inline-block; /* block would also work */
			position: absolute; /* move this out of the way of the text */
			#{$left}: 0; /* move the counter label into the space from the padding */
			content: counter(counter) ". ";
			counter-increment: counter;
			font-weight: bold;
			width: 20px;
			color: $ol-number-color;
			font-family: $font-family-accent;
			font-size: 13px;
		}
	}
}

ul.list,
.post__excerpt ul,
.comment__body ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 1.5em;

	ul {
		margin-top: 1em;
		margin-bottom: 0;
	}

	li {
		position: relative;
		padding: side-values(0 0 .5em 30px);

		&::before {
			display: inline-block; /* block would also work */
			position: absolute; /* move this out of the way of the text */
			#{$left}: 0; /* move the counter label into the space from the padding */
			width: 20px;
			color: theme-color("primary");
			font-family: $font-family-accent;
			font-size: 14px;
			content: "\f122";
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-family: "Ionicons";
		}
	}
}

//
// Misc
//

// Builds on `abbr`
.initialism {
	font-size: 90%;
	text-transform: uppercase;
}

// Blockquotes
blockquote,
.blockquote {
	margin-bottom: $spacer;
	font-size: $blockquote-font-size;
	padding: $blockquote-padding;
	border-#{$left}: $blockquote-border-width solid $blockquote-border-color;

	p:last-child {
		margin-bottom: 0;
	}
}

.blockquote-footer {
	display: block;
	font-size: 80%; // back to default font-size
	color: $blockquote-small-color;

	&::before {
		content: "\2014 \00A0"; // em dash, nbsp
	}
}


// Vertical Title
.side-title {
	font-size: $h5-font-size;
	line-height: 1.2em;
	letter-spacing: .4em;
	text-transform: uppercase;
}

.rotated-text {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	@include media-breakpoint-down(md) {
		display: none;
	}

	@media all and (-ms-high-contrast:none) {
		/* IE11 */
		display: none;
	}

	@supports (-ms-ime-align:auto) {
		/* Edge */
		display: none;
	}
}
	.rotated-text__inner {
		writing-mode: if-ltr(vertical-rl, vertical-lr);
		transform: rotate(-180deg);
		position: relative;
		color: rgba($white, .38);
	}

	.rotated-text__divider {
		display: block;
		height: 170px;
		width: 2px;
		margin-top: 10px;
		background-color: rgba($white, .1);
	}
