$woocommerce-sale:  #00c851;
$woocommerce-stock: #ff0000;



@import "shop";

@import "single-product";

@import "cart";

@import "checkout";

@import "my-account";

@import "alerts";


.woocommerce .col2-set,
.woocommerce-page .col2-set {
	.col-1,
	.col-2 {
		padding-#{$left}: 0;
		padding-#{$right}: 0;
		flex-basis: 100%;
		max-width: 100%;
		@include media-breakpoint-up(md) {
			flex-basis: 48%;
			max-width: 48%;
		}
		
	}
}

